@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

@font-face {
    font-family: Powerpuff;
    src: url(../typo/powerpuff\ girls\ font.ttf);
    font-weight: bold;
    font-style: normal;
  }

@font-face {
    font-family: Skatergirl Rock;
    src: url(../typo/Skater\ Girls\ Rock.ttf);
    font-weight: bold;
    font-style: normal;
  }

/* GENERAL CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    font-family: DollieScript;
}

/* CSS GAME PAGE */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    height: 600px;
    width: 600px;
    box-shadow: 1px 1px 5px black;
    background-image: url(../images/background.jpg);
    background-size: cover;
    position: relative;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 20px;
 
}

#title a {
    text-decoration: none;
    font-family: Powerpuff;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
}

.tracker {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    position: relative;
    color: indigo;
    font-family: Powerpuff;
}

#credit {
    font-size: 10px;
    padding: 30px;
    display: flex;
    justify-content: center;
}

#credit a {
    font-family: 'Varela';
    text-decoration: none;
    color: black;
}

#unicorn {
    background-image: url(../images/unicorn.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin-top: 70px;
    z-index: 1;
    grid-column: 1;
    grid-row: 13;
    position: absolute;
}

.star {
   width: 30px;
   height: 30px;
   grid-column: 1;
   grid-row: 1;
   background-image: url(../images/star.png); 
   background-size: contain;
   background-repeat: no-repeat;
}

.heart {
    width: 30px;
    height: 30px;
    grid-column: 1;
    grid-row: 3;
    background-image: url(../images/heart.png); 
    background-size: contain;
    background-repeat: no-repeat;
 }

 .gem {
    width: 30px;
    height: 30px;
    grid-column: 1;
    grid-row: 5;
    background-image: url(../images/gem.png); 
    background-size: contain;
    background-repeat: no-repeat;
 }

 .flower {
    width: 30px;
    height: 30px;
    grid-column: 1;
    grid-row: 8;
    background-image: url(../images/flower.png); 
    background-size: contain;
    background-repeat: no-repeat;
 }

 .cupcake {
    width: 30px;
    height: 30px;
    grid-column: 1;
    grid-row: 12;
    background-image: url(../images/cupcake.png);
    background-size: contain;
    background-repeat: no-repeat;
 }

 .rainbow {
    width: 30px;
    height: 30px;
    grid-column: 1;
    grid-row: 15;
    background-image: url(../images/rainbow.png); 
    background-size: contain;
    background-repeat: no-repeat;
 }

/* CSS FINISH PAGE */
 .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    position: relative;
}

#gameover {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 20px;
    font-size: 50px;
}

#gameover a {
    text-decoration: none;
    font-family: Powerpuff;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
}

.glow-on-hover {
    width: 200px;
    height: 60px;
    padding-top: 10px;
    border: none;
    outline: none;
    color: #fff;
    background-image: url(../images/background2.jpg);
    background-size: cover;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 10px;
    font-family: Skatergirl Rock;
    font-size: 40px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    background-image: url(../images/background2.jpg);
    background-size: cover;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/background2.jpg);
    background-size: cover;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.glow-on-hover a {
    text-decoration: none;
    color: rgb(118, 21, 187);
}